In [2]:
import pandas as pd
import numpy as np

Background Story

Company Overview:
I work for a leading SaaS provider that recently launched a new app designed to help content creators optimize their online presence and engagement. The app provides a suite of tools and actionable insights to enhance content strategy and improve audience interaction.

Current Situation:
To boost user adoption, the company has been running advertising campaigns on Instagram. Two distinct campaigns are in progress:

Control Campaign: Targets a broad audience of content creators.
Test Campaign: Focuses on a premium user segment identified through analysis as having higher potential value but also incurring higher advertising costs.
Insight and Challenge:
Analysis indicates that a significant portion of our current user base belongs to this premium segment. However, targeting this group comes with higher advertising expenses. This has raised concerns for the CEO about whether the increased investment in the Test Campaign is justified.

The primary goal is to assess whether the Test Campaign is effectively driving more user clicks and generating greater value compared to the Control Campaign.

In [36]:
dataframe1 = pd.read_csv("test_group.csv", sep=';')
dataframe2 = pd.read_csv("control_group.csv", sep =';')

In [37]:
dataframe2.head(10)

,Campaign Name,Date,Spend [USD],# of Impressions,Reach,# of Website Clicks,# of Searches,# of View Content,# of Add to Cart,# of Purchase
0,Control Campaign,1.08.2019,2280,82702.0,56930.0,7016.0,2290.0,2159.0,1819.0,618.0
1,Control Campaign,2.08.2019,1757,121040.0,102513.0,8110.0,2033.0,1841.0,1219.0,511.0
2,Control Campaign,3.08.2019,2343,131711.0,110862.0,6508.0,1737.0,1549.0,1134.0,372.0
3,Control Campaign,4.08.2019,1940,72878.0,61235.0,3065.0,1042.0,982.0,1183.0,340.0
4,Control Campaign,5.08.2019,1835,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Control Campaign,6.08.2019,3083,109076.0,87998.0,4028.0,1709.0,1249.0,784.0,764.0
6,Control Campaign,7.08.2019,2544,142123.0,127852.0,2640.0,1388.0,1106.0,1166.0,499.0
7,Control Campaign,8.08.2019,1900,90939.0,65217.0,7260.0,3047.0,2746.0,930.0,462.0
8,Control Campaign,9.08.2019,2813,121332.0,94896.0,6198.0,2487.0,2179.0,645.0,501.0
9,Control Campaign,10.08.2019,2149,117624.0,91257.0,2277.0,2475.0,1984.0,1629.0,734.0

In [38]:
dataframe1.columns = ['Campaign_name','Date','Spend[usd]','Number_of_Impressions',
                          'Reach','Number_of_Website_Clicks','Numeber_of_searches',
                          'Number_of_view_content','Number_of_Add_To_Cart','Number_of_Purchase']





dataframe2.columns = ['Campaign_name','Date','Spend[usd]','Number_of_Impressions',
                          'Reach','Number_of_Website_Clicks','Numeber_of_searches',
                          'Number_of_view_content','Number_of_Add_To_Cart','Number_of_Purchase']

In [39]:
dataframe1.isnull().sum()

Campaign_name               0
Date                        0
Spend[usd]                  0
Number_of_Impressions       0
Reach                       0
Number_of_Website_Clicks    0
Numeber_of_searches         0
Number_of_view_content      0
Number_of_Add_To_Cart       0
Number_of_Purchase          0
dtype: int64

In [40]:
dataframe2.isnull().sum()

Campaign_name               0
Date                        0
Spend[usd]                  0
Number_of_Impressions       1
Reach                       1
Number_of_Website_Clicks    1
Numeber_of_searches         1
Number_of_view_content      1
Number_of_Add_To_Cart       1
Number_of_Purchase          1
dtype: int64

In [41]:
dataframe2.dtypes

Campaign_name                object
Date                         object
Spend[usd]                    int64
Number_of_Impressions       float64
Reach                       float64
Number_of_Website_Clicks    float64
Numeber_of_searches         float64
Number_of_view_content      float64
Number_of_Add_To_Cart       float64
Number_of_Purchase          float64
dtype: object

In [42]:
empty_value = dataframe2[dataframe2['Number_of_Impressions'].isna()]
date_with_empty = empty_value['Date']
date_with_empty

4    5.08.2019
Name: Date, dtype: object

In [43]:
empty_value = dataframe2[dataframe2['Number_of_view_content'].isna()]
date_with_empty = empty_value['Date']
date_with_empty

4    5.08.2019
Name: Date, dtype: object

In [44]:
print(dataframe2[dataframe2['Date']=='5.08.2019'])

      Campaign_name       Date  Spend[usd]  Number_of_Impressions  Reach  \
4  Control Campaign  5.08.2019        1835                    NaN    NaN

   Number_of_Website_Clicks  Numeber_of_searches  Number_of_view_content  \
4                       NaN                  NaN                     NaN

   Number_of_Add_To_Cart  Number_of_Purchase
4                    NaN                 NaN

In [50]:
print(dataframe1[dataframe1['Date']=='5.08.2019'])

   Campaign_name       Date  Spend[usd]  Number_of_Impressions  Reach  \
4  Test Campaign  5.08.2019        2297                 114295  95138

   Number_of_Website_Clicks  Numeber_of_searches  Number_of_view_content  \
4                      5863                 2106                     858

   Number_of_Add_To_Cart  Number_of_Purchase
4                    956                 768

I have decided to remove the day 5/08/2019 to rpevent bais or mispresented skewness. The data is not missing at random. it is missing on a particular day.

In [51]:
dataframe1 = dataframe1[dataframe1['Date'] !='5.08.2019']
dataframe2 = dataframe2[dataframe2['Date'] !='5.08.2019']

In [ ]:
df_combined = pd.concat([dataframe2,dataframe1],ignore_index=True)
df_combined = df_combined.sort_values(by='Date',ignore_index=True)
#df_combined = df_combined.sort_values()
df_combined

In [58]:
df_combined['Date'] = pd.to_datetime(df_combined['Date'],format='%d.%m.%Y')

In [59]:
df_combined.dtypes

Campaign_name                       object
Date                        datetime64[ns]
Spend[usd]                           int64
Number_of_Impressions              float64
Reach                              float64
Number_of_Website_Clicks           float64
Numeber_of_searches                float64
Number_of_view_content             float64
Number_of_Add_To_Cart              float64
Number_of_Purchase                 float64
dtype: object

In [ ]:
df_combined = df_combined.sort_values(by='Date',ignore_index=True)
df_combined

In [ ]:
df_combined.describe()

In [64]:
df_combined.to_excel('C:/Users/onyek/Documents/ab_data_cleaned.xlsx', index=False)

significant_test = 0.05  # Significance level
confidence_interval = 95  # Confidence level as a percentage
power_of_the_test = 80  # Power of the test as a percentage
duration = "1 month"
minimum_detectable_effect = 0.10  # Minimum detectable effect in proportion (10%)



Decision Rule
If p-value ≤ 0.01, we reject the null hypothesis.

Context
I had two options for the primary metric, focusing on determining whether the test campaign performs better than the current campaign. However, there wasn't much information about the platforms used for the campaigns or whether they took place on the same or different platforms.

Business Hypothesis
The new ad campaign will lead to an increase in the number of people who click on the ad and visit the website compared to the current ad campaign.

Statistical Hypotheses
Null Hypothesis: The mean number of clicks generated by the new ad campaign is equal to the mean number of clicks generated by the current ad campaign.
Alternative Hypothesis: The mean number of clicks generated by the new ad campaign is different from the mean number of clicks generated by the current ad campaign.


Data Requirements
Two columns are needed:
1. Number_of_Website_Clicks: The count of clicks on the website.
2. Campaign_Name: Identifier for the current or test campaign.



Sample Size Calculation for Continuous Primary Metric (Mean Number of Clicks)
I will use the Central Limit Theorem (CLT) for the calculation.


Limitations
The dataset, summarized by date (e.g., Kaggle data), does not provide detailed user-level interaction data. This lack of granularity is a common limitation in pre-aggregated datasets and may prevent a true replication of the original experiment.

In [ ]:
data_ab_testing = df_combined[['Campaign_name','Reach','Number_of_Website_Clicks']]
data_ab_testing

In [73]:
from scipy.stats import norm
N_con = 29
N_test = 29
X_con = df_combined[df_combined['Campaign_name']=='Control Campaign']['Number_of_Website_Clicks'].values
x_test = df_combined[df_combined['Campaign_name']=='Test Campaign']['Number_of_Website_Clicks'].values


print(X_con)
print(x_test)

[7016. 8110. 6508. 3065. 4028. 2640. 7260. 6198. 2277. 8137. 2993. 6554.
 4521. 4896. 5224. 6628. 7253. 3706. 2578. 5691. 6843. 4410. 4085. 4234.
 5435. 4941. 6287. 8127. 4658.]
[3038. 4657. 7885. 4216. 7488. 4221. 7184. 8259. 8125. 3750. 8264. 7568.
 3993. 4993. 6800. 7910. 6909. 7617. 6050. 5471. 4431. 5077. 7156. 3596.
 3820. 6435. 8144. 7651. 4399.]

In [74]:
alpha = 0.05
x_con_mean = np.mean(X_con)
x_test_mean = np.mean(x_test)



x_con_var = np.var(X_con)
x_test_var = np.var(x_test)

In [75]:
pooled_variance_= ((N_con - 1) * x_con_var + (N_test - 1 ) * x_test_var) /(N_con + N_test - 2)

pooled_variance_

2950015.1878715805

In [77]:
SE = np.sqrt(pooled_variance_) #standard error

In [78]:
#test statistics
tt_stats = (x_con_mean - x_test_mean)/SE
tt_stats

-0.4176733073244886

In [79]:
#critical value for t-test
from scipy.stats import t
t_critical = t.ppf(1-alpha/2,N_con + N_test - 2)
t_critical

2.003240718847872

In [81]:
#pvalue
p_value  = t.sf(tt_stats, N_con + N_test - 2)* 2
p_value

1.3222168715384282

In [82]:
#MARGIN of error
margin_error = t_critical * SE

In [84]:
#confidence interval to know if there is a pratical significance
CI = [(x_con_mean -x_test_mean) - margin_error, (x_con_mean - x_test_mean) + margin_error]
print(np.round(CI,2))

[-4158.07  2723.31]

 since zero is within the range, there's a possibility that there is no real difference between the groups—any observed difference could be due to random variation.